

span.text-bold {
  font-weight: 700 !important;
}

span.text-underline {
  text-decoration: underline !important;
}

span.text-italic {
  font-style: italic !important;
}

span.text-primary {
  color: var(--p-slate-300);
}

span.text-contrast {
  color: var(--p-slate-900);
}

span.text-info {
  color: var(--p-sky-500);
}

span.text-success {
  color: var(--p-green-500);
}

span.text-warn {
  color: var(--p-amber-500);
}

span.text-danger {
  color: var(--p-red-500);
}