<!-- my-lazy-table.component.html -->
<!-- <div class="p-grid p-align-end p-mb-2">
  <div class="p-col-12 p-md-4">
    <label for="filterName">Filter by Descr</label>
    <input id="filterName" type="text" pInputText [(ngModel)]="filterValue" placeholder="Enter name…" />
  </div>
  <div class="p-col-12 p-md-2">
    <button pButton type="button" label="Apply Filter" (click)="onFilter()"></button>
  </div>
</div> -->

<!-- <div class="flex flex-row items-center justify-between mb-4 p-0">
  <p>Showing <b>{{ items.length }}</b> of <b>{{ totalRecords }}</b> records.</p>
  <div class="flex flex-row items-center justify-end gap-4">
    <p-button size="small" icon="pi pi-file-export" label="Export" />
    <p-button size="small" icon="pi pi-plus" label="Add New" severity="info" (click)="onCreateRow($event)" />
  </div>
</div> -->

<p-toolbar class="mb-4">
  <ng-template #start>
    <div class="flex flex-row items-center justify-between gap-4">
      <p-button text size="small" icon="pi pi-sync" (click)="onRefresh()"></p-button>
      <p-tag>{{hostId}}</p-tag>
    </div>
  </ng-template>
  <ng-template #center>
    <p><b>{{ items.length }}</b> of <b>{{ totalRecords }}</b> records</p>
  </ng-template>
  <ng-template #end>
    <div class="flex flex-row items-center justify-between gap-4">
      <p-splitbutton size="small" label="Add New" icon="pi pi-plus" (onClick)="onCreateRow($event)" [model]="_tableActions" />
    </div>
  </ng-template>
</p-toolbar>

<p-table #table 
  size="small"
  stripedRows
  [showGridlines]="false"
  [value]="items" 
  [lazy]="true" 
  (onLazyLoad)="loadItems($event)" 
  [paginator]="true" 
  [rows]="tableSpec.rows"
  [sortField]="tableSpec.defaultSortField"
  [rowsPerPageOptions]="tableSpec.rowsPerPageOptions" 
  [totalRecords]="totalRecords" 
  [loading]="loading" 
  [sortMode]="'single'"
  [reorderableColumns]="true"
  [scrollable]="true"
  (onColReorder)="onColReorder($event)"
>
  <ng-template pTemplate="header">
    <tr>
      @if (!tableSpec.disableActions) {
        <th pFrozenColumn style="border-right: 1px solid var(--p-slate-300);"></th>
      }
      
      @for (col of tableSpec.columns; track col.field) {
        @if (!col.hidden) {
          <th pReorderableColumn [pSortableColumn]="col.type != 'image' ? col.field : undefined" [style]="{ 'min-width': (col.type === 'barcode' ? '100px' : '')}">
            <div class="flex flex-row items-center justify-between">
              <div class="flex flex-row items-center gap-2">
                @if (col.type === 'image') {
                } @else {
                  <span style="white-space: pre;">{{col.header}}</span>
                  <p-sortIcon [field]="col.field" />
                }
              </div>
            </div>
          </th>
        }
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      @if (!tableSpec.disableActions) {
        <td pFrozenColumn style="width: 50px; border-right: 1px solid var(--p-slate-300); z-index: 1;">
          <p-buttongroup>
            <p-button text size="small" icon="pi pi-eye" (click)="onViewRow($event, item)"/>
            <p-button text size="small" icon="pi pi-pen-to-square" (click)="onEditRow($event, item)"/>
            <p-button text size="small" icon="pi pi-clone" />
            <p-button text size="small" icon="pi pi-trash" severity="danger" />
          </p-buttongroup>
        </td>
      }

      @for (col of tableSpec.columns; track col.field) {
        @if (!col.hidden) {
          <td [style]="{ 'min-width': (col.type === 'barcode' ? '100px' : '')}">
            @if (col.isPrimaryKey) {
              @if (col.type === 'relation') {
                @if (item[col.field + '__display']) {
                  <p-tag style="width: 100%; white-space: pre;" [severity]="col.color || 'contrast'" [value]="item[col.field + '__display']"></p-tag>
                }
              } @else {
                @if (item[col.field]) {
                  <p-tag style="width: 100%; white-space: pre;" [severity]="col.color || 'contrast'" [value]="item[col.field]"></p-tag>
                }
              }
            } @else {
              @if (col.type === 'boolean') {
                <p-tag style="width: 100%;" [severity]="item[col.field] ? 'success' : 'danger'"><i class="pi {{item[col.field] ? 'pi-check' : 'pi-times'}}"></i></p-tag>
              } @else if (col.type === 'date') {
                <span style="white-space: pre;" class="text-{{col.color}}"><small>{{ item[col.field] | date:'medium' }}</small></span>
              } @else if (col.type === 'image') {
                @if (item[col.field]) {
                  <p-image loading="lazy" src="{{mockDataSvc.imageBuckets[hostId!]}}/{{item[col.field]}}" alt="Image" [preview]="true" style="width: 50px; height: 50px;" />
                }
              } @else if (col.type === 'barcode') {
                @if (item[col.field]) {
                  <p-image loading="lazy" src="http://beta.elvispos.com:7400/barcode/render?code={{item[col.field]}}&type=code128" alt="Image" [preview]="true">
                    <ng-template #preview>
                      <img src="http://beta.elvispos.com:7400/barcode/render?code={{item[col.field]}}&type=code128" alt="image" [style]="{ 'background-color': 'white', 'border': '2rem solid white', 'max-width': '768px'}" />
                    </ng-template>
                  </p-image>
                }
              } @else if (col.type === 'relation') {
                @if (item[col.field]) {
                  <p-button 
                    text fluid size="small" 
                    [severity]="col.color" [style]="{'white-space': 'pre'}"
                    (click)="onViewRelation(col, item[col.field])"
                  >
                    <span class="">{{ item[col.field + '__display'] }}</span>
                  </p-button>
                }
              } @else {
                <span style="white-space: pre;" class="text-{{col.color}}">{{ item[col.field] }}</span>
              }
            }
          </td>
        }
      }
    </tr>
  </ng-template>
  <!-- <ng-template pTemplate="footer">
    <tr>
      <td [attr.colspan]="tableSpec.columns.length">
        Showing {{ items.length }} of {{ totalRecords }} items.
      </td>
    </tr>
  </ng-template> -->
</p-table>


<p-drawer [dismissible]="false" [(visible)]="showEditTableSpecDrawer" #editTableDrawer position="right" styleClass="!w-full md:!w-80 lg:!w-[47.5rem]">
  <ng-template #header>
    <div class="flex items-center gap-2">
      <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
      <span class="font-bold">Edit: {{hostId}}</span>
    </div>
  </ng-template>

  <app-entity-table-builder #entityTableBuilder [hostId]="hostId!"></app-entity-table-builder>
  
  <ng-template #footer>
    <div class="flex items-center justify-end ">
      <button pButton label="Save" icon="pi pi-save" severity="success" (click)="entityTableBuilder.onSaveSpec(); editTableDrawer.close($event)"></button>
    </div>
  </ng-template>
</p-drawer>

<p-drawer [dismissible]="entityForm.readonly" [(visible)]="showRowDrawer" #rowDrawer position="right" styleClass="!w-full md:!w-80 lg:!w-[60rem]">
  <ng-template #header>
    <div class="flex items-center gap-2">
      <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
      @if (entityForm.editMode) {
        <p-tag severity="danger">
          <div class="flex items-center justify-between gap-2 p-1">
            <i class="pi pi-exclamation-triangle"></i>
            <span>EDIT FORM</span>
          </div>
        </p-tag>
        <span class="font-bold">{{hostId}}</span>
      } @else {
        <p-tag [severity]="entityForm.modeSeverity" class="mr-2">
          <div class="flex items-center justify-between gap-2 p-1">
            <i class="{{entityForm.modeIcon}}"></i>
            <span>{{entityForm.mode | uppercase}}</span>

            @if (entityForm.entityId) {
              <div class="flex items-center justify-between gap-2 p-1 ml-2">
                <i class="pi pi-hashtag"></i>
                <span>{{entityForm.entityId}}</span>
              </div>
            }
          </div>
        </p-tag>
        <span class="font-bold">{{hostId}}</span>
      }
    </div>
  </ng-template>

  <app-entity-form #entityForm [hostId]="hostId!"></app-entity-form>

  <ng-template #footer>
    <div class="flex items-center justify-between gap-4">
      @if (entityForm.editMode) {
        <button pButton text label="Cancel" icon="pi pi-times" severity="danger" (click)="entityForm.onEditForm();"></button>
        <button pButton label="Save Changes" icon="pi pi-save" severity="success" (click)="entityForm.onSaveSpec();"></button>
      } @else {
        @if (!entityForm.readonly) {
          <button pButton text label="Edit Layout" icon="pi pi-pen-to-square" (click)="entityForm.onEditForm();"></button>
          <button pButton label="Save Changes" icon="pi pi-save" severity="success" (click)="rowDrawer.close($event)"></button>
        }
      }
    </div>
  </ng-template>
</p-drawer>

<p-drawer [(visible)]="showRelationRowDrawer" #relationRowDrawer position="right" styleClass="!w-full md:!w-80 lg:!w-[60rem]">
  <ng-template #header>
    <div class="flex items-center gap-2">
      <p-tag severity="info" class="mr-2">
        <div class="flex items-center justify-between gap-2 p-1">
          <i class="pi pi-eye"></i>
          <span>VIEW</span>

          @if (relationRowForm.entityId) {
            <div class="flex items-center justify-between gap-2 p-1 ml-2">
              <i class="pi pi-hashtag"></i>
              <span>{{relationRowForm.entityId}}</span>
            </div>
          }
        </div>
      </p-tag>
      <span class="font-bold">{{relationRowForm.hostId}}</span>
    </div>
  </ng-template>

  <app-entity-form #relationRowForm></app-entity-form>
</p-drawer>