@if (!readonly) {
  <div class="flex flex-row items-center justify-between mb-4">
    <p-button text size="small" icon="pi pi-pen-to-square" label="Edit Form" severity="info" (click)="onEditForm()" />
  </div>
}

<div id="entity-form" class="bg-primary-100 rounded-lg p-4">
  @if (showFormEditor && !readonly) {
    <app-entity-form-builder [hostId]="hostId" (formSpecSaved)="onEditForm()"></app-entity-form-builder>
  } @else {
    <form [formGroup]="form">
      <formly-form #formlyForm 
        [form]="form"
        [fields]="formSpec.fields"
        [model]="model"
      ></formly-form>
    </form>
  }
</div>