
@if (!hideHeader) {
  <p-toolbar class="mb-4">
    <ng-template #start>
      <div class="flex flex-row items-center justify-between gap-4">
        <p-tag [severity]="editMode ? 'warn' : 'secondary'">{{hostId}}</p-tag>
      </div>
    </ng-template>
    <ng-template #center>
      <!-- <p><b>{{ items.length }}</b> of <b>{{ totalRecords }}</b> records</p> -->
    </ng-template>
    <ng-template #end>
      <div class="flex flex-row items-center justify-between gap-4">
        @if (!editMode && !readonly) {
          <p-button outlined="" size="small" label="Edit Form Layout" icon="pi pi-pencil" severity="warn" (click)="onEditForm()" ></p-button>
          <p-button size="small" label="Save" icon="pi pi-save" severity="success" ></p-button>
        } @else if (editMode) {
          <p-button size="small" label="Undo Changes" icon="pi pi-times" severity="secondary" (click)="onEditForm()" ></p-button>
          <p-button size="small" label="Save Layout" icon="pi pi-save" severity="warn" (click)="onSaveSpec()" ></p-button>
        }
      </div>
    </ng-template>
  </p-toolbar>
}

<div id="entity-form">
  @if (!loading) {
    @if (editMode) {
      <div class="px-2 py-4 bg-primary-50 rounded-lg">
        <app-entity-form-builder #entityFormBuilder [hostId]="hostId" (formSpecSaved)="onEditForm()"></app-entity-form-builder>
      </div>
    } @else {
      @if (form && entityFormSvc.formSpec[hostId!]) {
        <div class="px-2 py-4 bg-primary-100 rounded-lg">
          <form [formGroup]="form">
            <formly-form #formlyForm 
            [form]="form"
            [fields]="entityFormSvc.formSpec[hostId!].fields || []"
            [model]="model"
            ></formly-form>
          </form>
        </div>
        <!-- <pre class="pt-8">{{model|json}}</pre> -->
      }
    }
  }
</div>