
#builder-content {
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
  padding: 0;

  p-button.add-field {
    width: 100%;
  }
}

#field-spec {
  /* background: var(--p-primary-100); */
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);

  label {
    margin-bottom: 8px;
  }

  &.drag-source {
    opacity: 0.3;
  }

  .dropzone {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -26px;
    width: 32px;
    /* height: 100%; */
    border: 2px dashed var(--p-primary-500);
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 10;
    border-radius: .33rem;

    &::hover {
      background-color: var(--p-primary-500);
    }

    &.after {
      right: -26px;
      left: auto;
    }
  }

  .dropzone-row {
    height: 32px;
    width: 100%;
    border: 2px dashed var(--p-blue-500);
    z-index: 10;
    border-radius: .33rem;

    &::hover {
      background-color: var(--p-blue-500);
    }

    &.after {
      right: -1.6rem;
      left: auto;
    }
  }
}