
<div class="flex flex-row items-stretch justify-stretch">

  <div pDroppable (onDrop)="onDrop($event)" [hidden]="!showDropzones || _isDragging" class="drop-zone"></div>

  <div 
    id="field-spec" 
    class="flex-1 {{field.__builderType}}-{{field.__builderType === 'layout' ? field.__builderWrapper : field.type}}" 
    [class.drag-source]="_isDragging"
    pDraggable 
    (onDragStart)="onDragStart($event)" 
    (onDragEnd)="onDragEnd($event)" 
  >

    <!-- <div class="add-button" [hidden]="showDropzones || _isDragging">
      <div class="add-button-content">
        <img src="assets/icons/add-column-start.svg" alt="">
      </div>
    </div>
    
    <div class="add-button end" [hidden]="showDropzones || _isDragging">
      <div class="add-button-content">
        <img src="assets/icons/add-column-end.svg" alt="">
      </div>
    </div> -->
   
    <div id="field-toolbar">
      <div class="flex flex-row items-center justify-between gap-4">
        <!-- @if (field.__builderType === 'layout') {
          @if (field.type === 'panel') {
            <i class="pi pi-expand"></i>
          }
          @if (field.type === 'card') {
            <i class="pi pi-clone"></i>
          }
          @if (field.type === 'accordion') {
            <i class="pi pi-bars"></i>
          }
        } @else {
          @if (field.type === 'input') {
            <i class="pi pi-pen-to-square"></i>
          }
          @if (field.type === 'select' || field.type === 'has-many') {
            <i class="pi pi-list"></i>
          }
          @if (field.type === 'datepicker') {
            <i class="pi pi-calendar"></i>
          }
          @if (field.type === 'belongs-to') {
            <i class="pi pi-link"></i>
          }
          @if (field.type === 'password') {
            <i class="pi pi-key"></i>
          }
        } -->
  
        <p-select size="small" optionLabel="label" optionValue="value" [options]="entityFormSvc.sizeOptions" [(ngModel)]="field.className" />

        <!-- <small class="font-medium text-slate-800 opacity-30">{{field.id}}</small> -->
        @if (field.__builderType === 'layout') {
          <small class="font-medium text-slate-400">{{field.props?.label}}</small>
        }
      </div>
  
      <div class="flex flex-row items-center justify-between">
        <p-button icon="pi pi-pen-to-square" severity="secondary" size="small" text (click)="onEditField()" />
        <p-button icon="pi pi-trash" severity="danger" size="small" text (click)="entityFormSvc.onRemoveField(hostId!, field.parent.fieldGroup, field)" />
      </div>
    </div>
  
    <div class="flex flex-col gap-2">
      @if (field.__builderType === 'layout') {
        @if (field.__builderWrapper == 'panel') {
          <div class="grid grid-cols-12 gap-4 p-4">
            @for (_groupField of field.fieldGroup; track $index) {
              <app-entity-form-builder-field class="{{_groupField.className}}" [hostId]="hostId" [field]="_groupField" [showDropzones]="showDropzones"></app-entity-form-builder-field>
            }
          </div>
          
          <div class="flex flex-row items-center justify-center mt-2 py-2 px-4 border-2 border-dashed bg-white border-primary-300 rounded-lg">
            <p-button size="small" text icon="pi pi-plus" label="Add Field" (click)="onAddField()"></p-button>
          </div>
        }

        @if (field.__builderWrapper == 'card') {
          <p-card>
            <div class="grid grid-cols-12 gap-4">
              @for (_groupField of field.fieldGroup; track $index) {
                <app-entity-form-builder-field class="{{_groupField.className}}" [hostId]="hostId" [field]="_groupField" [showDropzones]="showDropzones"></app-entity-form-builder-field>
              }
            
              <div class="flex flex-row items-center justify-center mt-2 py-2 px-4 border-2 border-dashed bg-white border-primary-300 rounded-lg col-span-12">
                <p-button size="small" text icon="pi pi-plus" label="Add Field" (click)="onAddField()"></p-button>
              </div>
            </div>
          </p-card>
          }
        }
  
        @if (field.__builderWrapper == 'accordion') {
          @if(!showDropzones) {
            <div class="flex flex-row items-center justify-center py-2 px-4 border-2 border-dashed border-surface-300 rounded-lg">
              <p-button size="small" text icon="pi pi-plus" label="Add Field" (click)="onAddField()"></p-button>
            </div>
          }
  
          <div class=" bg-primary-100 rounded-lg">
            <p-accordion>
              @for (_groupField of field.fieldGroup; track $index) {
                <p-accordion-panel [value]="$index">
                  <p-accordion-header>{{ _groupField.key }}</p-accordion-header>
                  <p-accordion-content>
                    <app-entity-form-builder-field class="{{_groupField.className}}" [hostId]="hostId" [field]="_groupField" [showDropzones]="showDropzones"></app-entity-form-builder-field>
                  </p-accordion-content>
                </p-accordion-panel>
              }
            </p-accordion>
          </div>
        }
  
        @if (field.__builderWrapper == 'tabs') {
          <div class=" bg-primary-100 rounded-lg">
            <p-tabs [value]="0">
              <p-tablist>
                @for (_groupField of field.fieldGroup; track $index) {
                  <p-tab [value]="$index">{{ _groupField.props?.label || _groupField.key }}</p-tab>
                }
              </p-tablist>
              <p-tabpanels>
                @for (_groupField of field.fieldGroup; track $index) {
                  <p-tabpanel [value]="$index">
                    <app-entity-form-builder-field class="{{_groupField.className}}" [hostId]="hostId" [field]="_groupField" [showDropzones]="showDropzones"></app-entity-form-builder-field>
                  </p-tabpanel>
                }
              </p-tabpanels>
            </p-tabs>
          </div>
  
          @if(!showDropzones) {
            <div class="flex flex-row items-center justify-center py-2 px-4 border-2 border-dashed border-surface-300 rounded-lg">
              <p-button size="small" text icon="pi pi-plus" label="Add Field" (click)="onAddField()"></p-button>
            </div>
          }
        }

        
      
      @if (field.__builderType === 'input') {
        <div class="p-2">
          @if (field.type === 'input' || field.type === 'integer' || field.type === 'select' || field.type === 'password') {
            <p-floatlabel variant="on">
              <input 
                pInputText fluid readonly
                [type]="field.type === 'integer' ? 'integer' : 'text'" 
                [value]="field.props!.placeholder || ' '"  
                id="{{field.key}}"
                name="{{field.key}}"
              />
              <label [for]="field.key">
                {{field.props!.label || field.key}}
                @if (field.props!.required) {
                <span class="text-red-600">*</span>
                }
              </label>
            </p-floatlabel>
          }

          @if (field.type === 'checkbox') {
            <div class="flex flex-row items-center justify-end gap-2">
              <label [for]="field.key">
                {{field.props!.label || field.key}}
                @if (field.props!.required) {
                <span class="text-red-600">*</span>
                }
              </label>
              <p-toggleswitch></p-toggleswitch>
            </div>
          }
    
          @if (field.type == 'datepicker') {
            @if (field.props!.readonly) {
              <small>{{'2025-03-07 04:00:00' | date:'medium'}}</small>
            } @else {
              <input
                pInputText fluid
                type="text"
                id="{{field.key}}"
                name="{{field.key}}"
                placeholder="{{field.props!.placeholder}}"
                disabled="true"
              />
            }
          }
    
          @if (field.type == 'belongs-to') {
            @if (field.props.mode == 'select') {
              <p-floatlabel variant="on">
                <p-select 
                  [id]="field.id" [name]="field.key"
                  fluid readonly
                ></p-select>
                <label [for]="field.id">
                  {{field.props!.label || field.key}}
                  @if (field.props!.required) {
                  <span class="text-red-600">*</span>
                  }
                </label>
              </p-floatlabel>
            } @else {
              <div class="flex flex-row items-center justify-between gap-2">
                <label [for]="field.id">
                  {{field.props!.label || field.key}}
                  @if (field.props!.required) {
                    <span class="text-red-600">*</span>
                  }
                </label>
                <p-buttongroup class="belongs-to flex flex-col basis-full" [style]="{ width: '100% !important' }">
                  <p-button disabled icon="pi pi-eye" variant="outlined" severity="info" />
                  <p-button fluid disabled class="grow" [label]="field.props!.placeholder || 'Select'" variant="outlined" severity="secondary" />
                  <p-button disabled icon="pi pi-times" variant="outlined" severity="danger" />
                </p-buttongroup>
              </div>
            }
          }
        </div>
  
      }
    </div>
  </div>

  <div pDroppable (onDrop)="onDrop($event, { endSide: true })" [hidden]="!showDropzones || _isDragging || field != field.parent.fieldGroup[field.parent.fieldGroup.length -1]" class="drop-zone end"></div>
</div>


<p-drawer [(visible)]="_showDrawer" #editFieldDrawer [header]="field.props!.label || (field.__builderType === 'layout' ? field.__builderWrapper : (field.key || field.type))" position="right" styleClass="!w-full md:!w-80 lg:!w-[50rem]">
  <div class="flex flex-col gap-4">
    <p-fieldset legend="Options" [toggleable]="false">
      <div class="flex flex-col gap-6 mt-2">
        <div class="flex flex-row items-center justify-between gap-4">
          <p-floatlabel class="flex-2" variant="on">
            <p-select fluid [options]="entityFormSvc.builderFieldTypes" optionLabel="label" optionValue="value" [(ngModel)]="field.__builderType" />
            <label for="key">Type</label>
          </p-floatlabel>
  
          @if (field.__builderType === 'layout') {
            <p-floatlabel class="flex-3" variant="on">
              <p-select 
                fluid 
                optionLabel="label" 
                optionValue="value" 
                [options]="entityFormSvc.layoutFieldTypes" 
                [(ngModel)]="field.__builderWrapper"
                (ngModelChange)="entityFormSvc.refreshIDs(hostId!)"
              />
              <label for="layoutType">Layout Type</label>
            </p-floatlabel>
          }
  
          @if (field.__builderType === 'input') {
            <p-floatlabel class="flex-3"  variant="on">
              <p-select fluid [options]="fieldTypes" [disabled]="!fieldTypes || fieldTypes.length == 0" optionLabel="name" optionValue="code" placeholder="Select Field Type" [(ngModel)]="field.type" (ngModelChange)="entityFormSvc.refreshIDs(hostId!)" />
              <label for="inputType">Input Type</label>
            </p-floatlabel>
          }
        </div>
  
        @if (field.__builderType === 'layout') {
          <p-floatlabel variant="on">
            <input pInputText fluid type="text" [(ngModel)]="field.props!.label" />
            <label for="label">Label</label>
          </p-floatlabel>
        }
      </div>

    </p-fieldset>

    @if (field.__builderType === 'input') {
      <p-fieldset legend="Properties" [toggleable]="false">
        <div class="flex flex-col gap-6 mt-2">
          <div class="flex flex-row items-center justify-end">
            <label for="required" class="m-0 p-0 mr-2">Required</label>
            <p-toggleswitch id="required" class="mr-6" [(ngModel)]="field.props!.required" />
            <label for="readonly" class="m-0 p-0 mr-2">Read Only</label>
            <p-toggleswitch id="readonly" class="mr-6" [(ngModel)]="field.props!.readonly" (ngModelChange)="field.props!.disabled = false" />
            <label for="disabled" class="m-0 p-0 mr-2">Disabled</label>
            <p-toggleswitch id="disabled" [(ngModel)]="field.props!.disabled" (ngModelChange)="field.props!.readonly = false" />
          </div>

          <p-floatlabel variant="on">
            <p-select fluid [options]="fieldList" [filter]="true" filterBy="name" optionLabel="name" optionValue="name" [(ngModel)]="field.key" (ngModelChange)="entityFormSvc.refreshIDs(hostId!)" />
            <label for="key">Column Name</label>
          </p-floatlabel>
      
          <p-floatlabel variant="on">
            <input pInputText fluid type="text" placeholder="Field Label" [(ngModel)]="field.props!.label" />
            <label for="key">Label:</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <input pInputText fluid type="text" placeholder="Field Placeholder" [(ngModel)]="field.props!.placeholder" />
            <label for="key">Placeholder</label>
          </p-floatlabel>
    
          @if (field.type == 'input' || field.type == 'password') {
            <div class="flex flex-row items-center justify-stretch gap-4">
              <p-floatlabel variant="on">
                <input pInputText fluid type="text" placeholder="Min Length" [(ngModel)]="field.props!.minLength" />
                <label for="minLength">Min Length</label>
              </p-floatlabel>
              <p-floatlabel variant="on">
                <input pInputText fluid type="text" placeholder="Max Length" [(ngModel)]="field.props!.maxLength" />
                <label for="minLength">Max Length</label>
              </p-floatlabel>
            </div>
          }
    
          @if (field.type == 'integer') {
            <div class="flex flex-row items-center justify-stretch gap-4">
              <p-floatlabel variant="on">
                <input pInputText fluid type="number" placeholder="Min Value" [(ngModel)]="field.props!.min" />
                <label for="minValue">Min Value</label>
              </p-floatlabel>
              <p-floatlabel variant="on">
                <input pInputText fluid type="number" placeholder="Max Value" [(ngModel)]="field.props!.max" />
                <label for="maxValue">Min Value</label>
              </p-floatlabel>
            </div>
          }
        </div>
      </p-fieldset>
    }

    @if (field.__builderType === 'input') {
      @if (field.type == 'belongs-to') {
        <p-fieldset legend="Belongs To Options" [toggleable]="false">
          <div class="flex flex-col gap-6 mt-2">
            <p-floatlabel variant="on">
              <p-select fluid [options]="[{ label: 'Select', value: 'select'}, { label: 'Dialog', value: 'dialog'}]"
                optionLabel="label" optionValue="value" [(ngModel)]="field.props!['mode']" />
              <label for="mode">Mode</label>
            </p-floatlabel>
        
            <p-floatlabel variant="on">
              <p-select fluid [options]="mockDataSvc.tableInfoArray" [filter]="true" filterBy="name" optionLabel="name"
                optionValue="name" [(ngModel)]="field.props!['toEntity']" (ngModelChange)="field.props!['toField'] = null" />
              <label for="toEntity">With Entity</label>
            </p-floatlabel>
        
            @if (field.props!['toEntity']) {
            <div class="flex flex-row items-center justify-between gap-4">
              <p-floatlabel variant="on" class="flex-3">
                <p-select fluid [disabled]="!field.props!['toEntity']"
                  [options]="mockDataSvc.tableInfo[field.props!['toEntity']].columns" [filter]="true" filterBy="name"
                  optionLabel="name" optionValue="name" [(ngModel)]="field.props!['toField']" />
                <!-- <input pInputText fluid type="text" placeholder="To Field"  [(ngModel)]="field.props.toField" /> -->
                <label for="toField">Value Field</label>
              </p-floatlabel>
        
              <p-floatlabel variant="on" class="flex-2">
                <p-select fluid [disabled]="!field.props!['toEntity']"
                  [options]="mockDataSvc.tableInfo[field.props!['toEntity']].columns" [filter]="true" filterBy="name"
                  optionLabel="name" optionValue="name" [(ngModel)]="field.props!['displayField']" />
                <!-- <input pInputText fluid type="text" placeholder="To Field"  [(ngModel)]="field.props.toField" /> -->
                <label for="displayField">Label Field</label>
              </p-floatlabel>
            </div>
            }
        
            <div class="flex flex-row items-center justify-between gap-4">
              <p-floatlabel class="flex-3" variant="on">
                <input pInputText fluid disabled type="text" placeholder="From Entity"
                  [(ngModel)]="field.props!['fromEntity']" />
                <label for="fromEntity">To</label>
              </p-floatlabel>
        
              <p-floatlabel class="flex-2" variant="on">
                <input pInputText fluid disabled type="text" placeholder="From Field" [(ngModel)]="field.props!['fromField']" />
                <label for="fromField">Field</label>
              </p-floatlabel>
            </div>
        
          </div>
        </p-fieldset>
      }
    }


    <p-fieldset legend="Rules" [toggleable]="false">
      <div class="flex flex-col gap-6 mt-2">
        @for (rule of field.__builderRules; track $index) {
          <div class="flex flex-row items-center justify-between gap-4">
            <p-floatlabel variant="on" class="flex-2">
              <p-select fluid [options]="entityFormSvc.ruleTypes" optionLabel="label" optionValue="value" [(ngModel)]="rule.type" />
              <label for="ruleType">Rule</label>
            </p-floatlabel>
          
            <p-floatlabel variant="on" class="flex-4">
              <p-select fluid [options]="fieldList" [filter]="true" filterBy="name" optionLabel="name" optionValue="name" [(ngModel)]="rule.field" />
              <label for="ruleField">When</label>
            </p-floatlabel>

            <p-floatlabel variant="on" class="flex-2">
              <p-select fluid [options]="entityFormSvc.ruleConditions" optionLabel="label" optionValue="value" [(ngModel)]="rule.condition" />
              <label for="ruleCondition">Condition</label>
            </p-floatlabel>

            <p-button text icon="pi pi-times" severity="danger" (click)="onRemoveRule($index)"></p-button>
          </div>
        }

        <div class="flex flex-row items-center justify-center py-2 px-4 border-2 border-dashed border-surface-300 rounded-lg">
          <p-button size="small" text icon="pi pi-plus" label="Add Rule" (click)="onAddRule()"></p-button>
        </div>
  
        <!-- <div class="flex flex-row items-center justify-between gap-4">
          <p-floatlabel variant="on" class="flex-2">
            <p-select fluid [options]="onChangeTypes" optionLabel="label" optionValue="value"
              [(ngModel)]="field.props!['onChangeAction']" />
            <label for="fromEntity">On Change</label>
          </p-floatlabel>
  
          @if (field.props!['onChangeAction'] == 'CLEAR_FIELDS') {
            <p-floatlabel variant="on" class="flex-4">
              <p-multiselect fluid [options]="fieldList" [filter]="true" filterBy="name" optionLabel="name" optionValue="name"
                [(ngModel)]="field.props!['onChangeClearFields']" />
              <label for="onChangeClearFields">Fields to Clear</label>
            </p-floatlabel>
          }
        </div> -->
      </div>
    </p-fieldset>
  </div>
</p-drawer>

