
#field-spec {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--p-slate-300);
  /* padding: 12px 16px; */
  border-radius: 4px;
  background: var(--p-slate-100);

  #field-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-button {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 16px;
    z-index: 20;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all ease-out .1s;
    background: rgba(255,255,255,.6);
    opacity: 0;
    backdrop-filter: blur(4px) saturate(180%);

    &.end {
      left: auto;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      
      .add-button-content {
        left: auto;
        right: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);

        &:active {
          box-shadow: -2px 0 4px var(--p-sky-300);
        }
      }
    }

    &:hover {
      opacity: 1;
      width: 64px;

      .add-button-content {
        opacity: 1;
        pointer-events: all;
      }
    }
    
    .add-button-content {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 64px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      background: white;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all ease-out .1s;
      pointer-events: none;
  
      img {
        width: 22px;
        height: 22px;
        object-fit: contain;
        object-position: center;
      }

      &:hover {
        width: 36px;
      }

      &:active {
        box-shadow: 2px 0 4px var(--p-sky-300);
      }
    }
  }


  &.input-belongs-to {
    /* box-shadow: 0 0 0 1px var(--p-orange-300); */
  }

  &.layout-card {
    /* box-shadow: 0 0 0 1px var(--p-yellow-300); */
  }

  &.layout-panel {
    /* box-shadow: 0 0 0 1px var(--p-sky-300); */

    #field-spec {
      background: white;
    }
  }

  &.drag-source {
    opacity: 0.3;

    .add-button {
      display: none;
    }
  }

  label {
    margin-bottom: 4px;
  }

}

.drop-zone {
  position: relative;
  display: flex;
  width: 20px;
  min-width: 20px;
  height: auto;
  background: var(--p-sky-50);
  border: 2px dashed var(--p-sky-500);
  border-radius: 16px;
  margin-right: 16px;
  margin-left: 0;

  &.end {
    margin-right: 0;
    margin-left: 16px;

    background: var(--p-rose-50);
    border: 2px dashed var(--p-rose-500);
  }

  &::hover {
    background: var(--p-red-400);
  }
}