
#builder-content {
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
  padding: 0;

  p-button.add-field {
    width: 100%;
  }
}

#field-spec {
  /* background: var(--p-primary-100); */
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);

  label {
    margin-bottom: 8px;
  }
}