
@import "primeicons/primeicons.css";

body {
  margin: 0;
  // background: var(--p-blue-50);
  font-family: 'Inter', sans-serif;
}

form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

formly-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  formly-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
  }

  formly-field {
    flex: 1;

    .p-field {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      padding: 4px;
  
      label {
        margin-bottom: 8px;
      }

      .p-inputtext {
        width: 100%;
      }
    }
  }
}

.col-12 {
  flex: 0 0 100% !important;
}

.col-6 {
  flex: 0 0 calc(50% - 8px) !important;
}

.col-4 {
  flex: 0 0 calc(33.3% - 10.5px) !important;
}