
@import "tailwindcss";
@import "tailwindcss-primeui";

@import "primeicons/primeicons.css";

@theme {
  /* --color-curious-blue-50: #f1f9fe;
  --color-curious-blue-100: #e3f1fb;
  --color-curious-blue-200: #c0e4f7;
  --color-curious-blue-300: #89d0f0;
  --color-curious-blue-400: #4ab7e6;
  --color-curious-blue-500: #229ace;
  --color-curious-blue-600: #157fb4;
  --color-curious-blue-700: #126692;
  --color-curious-blue-800: #135679;
  --color-curious-blue-900: #154965;
  --color-curious-blue-950: #0e2e43;

  --color-primary-50: var(--color-curious-blue-50);
  --color-primary-100: var(--color-curious-blue-100);
  --color-primary-200: var(--color-curious-blue-200);
  --color-primary-300: var(--color-curious-blue-300);
  --color-primary-400: var(--color-curious-blue-400);
  --color-primary-500: var(--color-curious-blue-500);
  --color-primary-600: var(--color-curious-blue-600);
  --color-primary-700: var(--color-curious-blue-700);
  --color-primary-800: var(--color-curious-blue-800);
  --color-primary-900: var(--color-curious-blue-900);
  --color-primary-950: var(--color-curious-blue-950); */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
}


p-menu {
  .p-menu {
    ul.p-menu-list {
      background-color: #ffffff;
      padding: 0;

      li.p-menu-item {
        
        .p-menu-item-content {
          padding-left: 16px;

          .p-menu-item-icon {
            display: none;
          }
        }
      }
    }
  }
}

form {
  width: 100%;
  margin: 0 auto;

  formly-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  
    formly-group {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      flex-wrap: wrap;
      align-items: start;
      width: 100%;
      gap: 16px;
    }
  
    formly-field {
      flex: 1 0 100%;

      formly-group {
        align-items: end;
      }

      >formly-group {
        align-items: start;
      }
    }

    p-accordion {
      formly-group {
        gap: 0;
      }
    }
  }
}

p-buttongroup.belongs-to {
  .p-buttongroup {
    p-button {
      &.fluid {
        display: flex;
        flex: 1;

        button {
          flex: 1;
        }
      }
    }
  }
}

#field-toolbar {
  background: rgba(0,0,100,.033);
  padding: 0 0 0 4px;

  .p-select {
    height: 20px;
    padding: 0;
  }

  .p-button {
    border-radius: 4px;
  }
  
  .p-select-label {
    height: 20px;
    min-height: 20px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 8px;
  }

  .p-select-dropdown {
    width: 16px;
    height: 20px;
    min-height: 20px;
    line-height: 18px;
    font-size: 10px;
    font-weight: 500;
    padding: 0 8px 0 0;
  }

  .p-button {
    height: 28px;
    min-height: 28px;
    line-height: 26px;

    &:hover {
      background: rgba(0,0,0,.0375);
    }
    
    .p-button-icon {
      font-size: 13px;
    }
  }

}